.head {
    width: 100% ;
    height: 120px;
    background: #FFFFFF;
    position: relative;
}
.head img {
    position: absolute;
    width: 114.8px;
    height: 70px;
    left: 101px;
    top: 25px;
}
.navbar-container {
    display: flex;
    justify-content: flex-end;
    padding: 25px 100px;
    left: 878px;
    top: 51px;
}
.main {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: relative;
}
.main .Home-CarouselBox {
    /* Vector */
    position: absolute;
    width: 100%;
    height: 780px;
    background: linear-gradient(180deg, #F4F4F4 0%, #FFFFFF 68.85%);
}
.main .Home-CarouselBox .Changing-TextBox{

    /* A Full-stack Development Company */

    position: absolute;
    width: 443px;
    height: 210px;
    left: 121px;
    top: 211px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;

    color: #504ED8;

}
.main .Home-CarouselBox .TextBox1{
    /* One-stop shop for firmware, devices, apps, cloud solutions */

    position: absolute;
    width: 382px;
    height: 44px;
    left: 121px;
    top: 449px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #8785A5;

}
.main .Home-CarouselBox .TextBox2{
    /* Group 47 */

    position: absolute;
    width: 241.84px;
    height: 54px;
    left: 121px;
    top: 536px;
    background-image: url('../img/Home-arrow.png') ;

}
.main .Home-CarouselBox .TextBox2 p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.77px;
    text-align: left;
    color:#FFFFFF;
   margin-top: 10px;
    margin-left: 10px;
}
.main .Home-CarouselBox .scroll-downBox{
    /* Group 81 */
    position: absolute;
    width: 140px;
    height: 93px;
    left: 131px;
    top: 707px;
    background-image: url('../img/home-scroll-down.png') ;
}
.main .Home-CarouselBox .CarouselBox {
    /* Group 74 */
    position: absolute;
    width: 800px;
    height: 800px;
    left: 600px;
    transform: rotate(165deg);
    background-image: url("../img/CarouselBox-Rings-.png");
}
.main .Home-CarouselBox .CarouselBox .custom-carousel img {

transform: rotate(-165deg);
}

.main .Home-CarouselBox  .indicators-buttons-Box {
    /* Group 3625 */

    position: absolute;
    width: 369px;
    height: 38px;
    left: 550px;
    top: 725px;


}
.main .Home-CarouselBox .indicators-buttons-Box .custom-carousel-indicators {
    /* Group 82 */

    position: absolute;
    width: 300px;
    height: 28px;
    margin: 5px;
   left: 30px;
}
.main .Home-CarouselBox .indicators-buttons-Box .custom-carousel-indicators .button1{
    /* Rectangle 54 */

    position: absolute;
    width: 60px;
    left: 20px;
    height: 9px;
    top: 7px;
    background: #504ED8;
    border-radius: 69px;

}
.main .Home-CarouselBox .indicators-buttons-Box .custom-carousel-indicators .button2{
    /* Rectangle 54 */

    position: absolute;
    width: 60px;
    left: 100px;
    height: 9px;
    top: 7px;
    background: #504ED8;
    border-radius: 69px;

}
.main .Home-CarouselBox .indicators-buttons-Box .custom-carousel-indicators .button3{
    /* Rectangle 54 */

    position: absolute;
    width: 60px;
    left: 180px;
    height: 9px;
    top: 7px;
    background: #504ED8;
    border-radius: 69px;

}
.main .Home-CarouselBox .indicators-buttons-Box .prev-next-buttons{
    /* fluent:arrow-next-20-filled */

    position: absolute;
    width: 50px;
    height: 38px;
    left: 364px;

    transform: rotate(180deg);
}
.main .Home-CarouselBox .indicators-buttons-Box .prev-next-buttons .custom-carousel-control-next{
    /* fluent:arrow-next-20-filled */

    position: absolute;
    width: 38px;
    height: 38px;
    background-image: url("../img/Carousel-fluent_arrow-next.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    transform: rotate(180deg);
    top: 5px ;

}
.main .Home-CarouselBox .indicators-buttons-Box .prev-next-buttons .custom-carousel-control-prev{
    position: absolute;
    width: 38px;
    height: 38px;
   right: 100px;
    background-image: url("../img/Carousel-fluent_arrow-next.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    transform: rotate(360deg);
    top: 5px ;

}
.main .Home-AboutUs{
    /* Vector */

    position: absolute;
    width: 100%;
    height: 508px;
    top: 800px;
    background:#FFFFFF;
}
.main .Home-AboutUs .AboutUs {
    position: absolute;
    width: 100%;
    height: 508px;

    background-image: url('../img/about-us-header.png') ;
}
.main .Home-AboutUs .AboutUs h1 {
    position: absolute;
    width: 484px;
    height: 111px;
    left: 110px;
    top: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 95px;
    line-height: 111px;
    color: #FFFFFF;
}
.main .Home-AboutUs .AboutUs h2 {
    position: absolute;
    width: auto;
    height: 35px;
    left: 110px;
    top: 179px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #09C4D0;
    white-space: nowrap;
}
.main .Home-AboutUs .AboutUs p {
    position: absolute;
    width: 1120px;
    height: 169px;
    left: 110px;
    top: 266px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.main .Home-AboutUs .AboutUs .AboutUs-Button{
    /* Rectangle 58 */

    position: absolute;
    width: 164px;
    height: 45px;
    left: 110px;
    top: 450px;

    background: #504ED8;

}
.main .Home-AboutUs .AboutUs .AboutUs-Button button{
    /* KNOW MORE */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    background: #504ED8;
    color: #FFFFFF;
    border: none;
}
.main .Home-AboutUs .AboutUs  .AboutUs-Button-Strip{
    /* Rectangle 59 */

    position: absolute;
    width: 164px;
    height: 5px;
    left: 110px;
    top: 490px;
    background: #09C4D0;
}

.main .Home-OurServices{
    /* Vector */

    position: absolute;
    width: 100%;
    height: 508px;
    top: 1308px;
    background:#FFFFFF;
}
main .Home-OurServices .OURSERVICESBOX {
    position: absolute;
    width: 100%;
    height: 508px;
    left: 0;
    top: 127px;
    background-size: cover;
    background-position: center;
}

.OurServiceTextBox {
    position: absolute;
    width: auto;
    height: 129px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.OurServiceTextBox h1 {
    position: relative;
    width: 100%;
    height: auto;
    align-content: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 95px;
    line-height: 111px;
    color: #504ED8;
    white-space: nowrap;
}

.OurServiceTextBox p {
    position: absolute;
    width: auto;
    height: 35px;
    left: 200px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #09C4D0;
}

.main .Home-OurServices .OurServicesIconBox{
    /* Rectangle 60 */

    position: absolute;
    width: 100%;
    height: 410px;
    left: 0px;
    top: 398px;

    background: #F6F6F6;

}
/* Carousel Container */
.carousel-container {
    width: 99%;
    height:90%;
    top: 50px;
   /* background: #F6F6F6;*/
    position: relative;
    overflow: hidden;
    margin: auto;
}

/* Carousel Wrapper */
.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Individual Card */
.card {
    flex-shrink: 0;
    width: 32%; /* Show 4 cards at a time (25% of container) */
    height: 100%;
    border: none;
    left: 100px;
    background: #F6F6F6;
}

.card img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

/* Custom Arrows */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control.left {
    left: 0;
    top: 160px;
}

.carousel-control.right {
    right: 0;
    top: 160px;
}
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; /* Adjust the size as needed */
    height: auto;
}

.main .HomePortfolioBox {
    /* Vector */
    position: absolute;
    width: 100%;
    height: 508px;
    top: 2125px;
    background: #FFFFFF;
}

.main .HomePortfolioBox h1 {
    /* PORTFOLIO */
    position: absolute;
    width: 546px;
    height: 111px;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 95px;
    line-height: 111px;
    color: #504ED8;
}

.main .HomePortfolioBox p {
    /* SOME OF OUR PROJECTS */
    position: absolute;
    width: 376px;
    height: 35px;
    left: 50%;
    top: 285px;
    transform: translateX(-50%);
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #09C4D0;
}

.main .HomePortfolioBox .picture-div {
    position: relative;
    width: 1180px;
    height: 255px;
    left: 50px;
    top: 450px; /* Adjusted to make them closer */
}

.overlay {
    position: absolute;
    top: 0;
    left: 32px;
    width: 372px;
    height: 234px;
    background-color: rgba(0, 123, 255, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.overlay h2 {
    font-size: 2rem;
    margin: 0;
}


.funnyP {
    /* Company name */
    position: absolute !important;
    width: 152px !important;
    height: 23px !important;
    left: 50% !important; /* Center horizontally */
    top: 70% !important; /* Center vertically */
    transform: translate(-50%, -50%) !important; /* Adjust for centering */
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 23px !important;
    text-align: center !important;
    color: #FFFFFF !important;
}

.main .HomeEmailBox {
    /* Vector */
    /* Rectangle 361 */
    position: absolute;
    width: 100%;
    height: 1146px;
    left: 0px;
    top: 3150px;
    background: linear-gradient(109.17deg, #504ED8 40.33%, #00CAD7 121.05%);

}
.main .HomeEmailBox .backImg{
    /* contact-us-background */
    position: absolute;
    width: 100%;
    height: 100%;
}
.main .HomeEmailBox .frameImg{
    /* Frame */
    position: absolute;
    width: 413px;
    height: 464px;
    left: 120px;
    top: 474px;
}
.main .HomeEmailBox .EmailForm{
    /* Group 3603 */
    position: absolute;
    width: 548px;
    height: 832px;
    left: 592px;
    top: 260px;
}
.main .HomeEmailBox .EmailForm img{
    width: 530px;
    height: 750px;
}
