.head {
    width: 100% ;
    height: 120px;
    background: #FFFFFF;
    position: relative;
}
.head img {
    position: absolute;
    width: 114.8px;
    height: 70px;
    left: 101px;
    top: 25px;
}
.navbar-container {
    display: flex;
    justify-content: flex-end;
    padding: 25px 100px;
    left: 878px;
    top: 51px;
}
.main {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: relative;
}
.main .Home-CarouselBox {
    /* Vector */
    position: absolute;
    width: 100%;
    height: 780px;
    background: linear-gradient(180deg, #F4F4F4 0%, #FFFFFF 68.85%);
}
.main .Home-CarouselBox .Changing-TextBox{

    /* A Full-stack Development Company */

    position: absolute;
    width: 443px;
    height: 210px;
    left: 121px;
    top: 211px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;

    color: #504ED8;

}
.main .Home-CarouselBox .TextBox1{
    /* One-stop shop for firmware, devices, apps, cloud solutions */

    position: absolute;
    width: 382px;
    height: 44px;
    left: 121px;
    top: 449px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #8785A5;

}
.main .Home-CarouselBox .TextBox2{
    /* Group 47 */

    position: absolute;
    width: 241.84px;
    height: 54px;
    left: 121px;
    top: 536px;
    background-image: url('../img/Home-arrow.png') ;

}
.main .Home-CarouselBox .TextBox2 p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.77px;
    text-align: left;
    color:#FFFFFF;
   margin-top: 10px;
    margin-left: 10px;
}
.main .Home-CarouselBox .scroll-downBox{
    /* Group 81 */
    position: absolute;
    width: 140px;
    height: 93px;
    left: 131px;
    top: 707px;
    background-image: url('../img/home-scroll-down.png') ;
}
.main .Home-CarouselBox .CarouselBox {
    /* Group 74 */
    position: absolute;
    width: 800px;
    height: 800px;
    left: 600px;
    transform: rotate(165deg);
    background-image: url("../img/CarouselBox-Rings-.png");
}
.main .Home-CarouselBox .CarouselBox .custom-carousel img {

transform: rotate(-165deg);
}

.main .Home-CarouselBox  .indicators-buttons-Box {
    /* Group 3625 */

    position: absolute;
    width: 369px;
    height: 38px;
    left: 550px;
    top: 725px;


}
.main .Home-CarouselBox .indicators-buttons-Box .custom-carousel-indicators {
    /* Group 82 */

    position: absolute;
    width: 300px;
    height: 28px;
    margin: 5px;
   left: 30px;
}
.main .Home-CarouselBox .indicators-buttons-Box .custom-carousel-indicators .button1{
    /* Rectangle 54 */

    position: absolute;
    width: 60px;
    left: 20px;
    height: 9px;
    top: 7px;
    background: #504ED8;
    border-radius: 69px;

}
.main .Home-CarouselBox .indicators-buttons-Box .custom-carousel-indicators .button2{
    /* Rectangle 54 */

    position: absolute;
    width: 60px;
    left: 100px;
    height: 9px;
    top: 7px;
    background: #504ED8;
    border-radius: 69px;

}
.main .Home-CarouselBox .indicators-buttons-Box .custom-carousel-indicators .button3{
    /* Rectangle 54 */

    position: absolute;
    width: 60px;
    left: 180px;
    height: 9px;
    top: 7px;
    background: #504ED8;
    border-radius: 69px;

}
.main .Home-CarouselBox .indicators-buttons-Box .prev-next-buttons{
    /* fluent:arrow-next-20-filled */

    position: absolute;
    width: 50px;
    height: 38px;
    left: 364px;

    transform: rotate(180deg);
}
.main .Home-CarouselBox .indicators-buttons-Box .prev-next-buttons .custom-carousel-control-next{
    /* fluent:arrow-next-20-filled */

    position: absolute;
    width: 38px;
    height: 38px;
    background-image: url("../img/Carousel-fluent_arrow-next.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    transform: rotate(180deg);
    top: 5px ;

}
.main .Home-CarouselBox .indicators-buttons-Box .prev-next-buttons .custom-carousel-control-prev{
    position: absolute;
    width: 38px;
    height: 38px;
   right: 100px;
    background-image: url("../img/Carousel-fluent_arrow-next.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    transform: rotate(360deg);
    top: 5px ;

}
.main .Home-AboutUs{
    /* Vector */

    position: absolute;
    width: 100%;
    height: 508px;
    top: 800px;
    background:#FFFFFF;
}
.main .Home-AboutUs .AboutUs {
    position: absolute;
    width: 100%;
    height: 508px;

    background-image: url('../img/about-us-header.png') ;
}
.main .Home-AboutUs .AboutUs h1 {
    position: absolute;
    width: 484px;
    height: 111px;
    left: 110px;
    top: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 95px;
    line-height: 111px;
    color: #FFFFFF;
}
.main .Home-AboutUs .AboutUs h2 {
    position: absolute;
    width: auto;
    height: 35px;
    left: 110px;
    top: 179px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #09C4D0;
    white-space: nowrap;
}
.main .Home-AboutUs .AboutUs p {
    position: absolute;
    width: 1120px;
    height: 169px;
    left: 110px;
    top: 266px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.main .Home-AboutUs .AboutUs .AboutUs-Button{
    /* Rectangle 58 */

    position: absolute;
    width: 164px;
    height: 45px;
    left: 110px;
    top: 450px;

    background: #504ED8;

}
.main .Home-AboutUs .AboutUs .AboutUs-Button button{
    /* KNOW MORE */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    background: #504ED8;
    color: #FFFFFF;
    border: none;
}
.main .Home-AboutUs .AboutUs  .AboutUs-Button-Strip{
    /* Rectangle 59 */

    position: absolute;
    width: 164px;
    height: 5px;
    left: 110px;
    top: 490px;

    background: #09C4D0;


}
